{% extends "layout.html" %}

{% block title %}
    form
{% endblock %}

{% block main %}
<div class="resume-form">
    <div class="form-container">

        <h2 class="form-heading">Create Resume</h2>

        <form action="/form" method="post">
            <div class="personal-info-section">
            <div class="form-group mb-4">
                <input autocomplete="off" id="title" autofocus class="form-control" name="title" value="Software Engineer" placeholder="Title" type="text">
                <small class="form-text title-error text-muted"></small>
                {% if errors.get('title') %}
                <small class="error form-text text-muted">
                    {{ errors['title'] }}
                </small>
                {% endif %}
            </div>
            <label id="resume-label">Personal Info:</label>
            <div class="form-row">
                <!-- Name and Email Inline -->
                <div class="col">
                    <div class="form-group mb-4">
                        <input autocomplete="off" id="name" autofocus class="form-control" name="name" value="Gias uddin vuiya" placeholder="Name: " type="text">
                        <small class="form-text name-error text-muted"></small>
                        {% if errors.get('name') %}
                        <small class="error form-text text-muted">
                            {{ errors['name'] }}
                        </small>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input autocomplete="off" id="email" class="form-control" name="email_" value="giasuddinvuiya2022@gmail.com" placeholder="Email: " type="text">
                        <small class="form-text email-error text-muted"></small>
                        {% if errors.get('email') %}
                        <small class="error form-text text-muted">
                            {{ errors['email'] }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <!-- phone country  and city Inline -->
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="phone" name="phone" value="01210001337" placeholder="Phone: " type="phone">
                        <small class="form-text phone-error text-muted"></small>
                        {% if errors.get('phone') %}
                        <small class="error form-text text-muted">
                            {{ errors['phone'] }}
                        </small>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="country" name="country" value="Bangladesh" placeholder="Country: " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="city" name="city" value="Dhaka" placeholder="City: " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
            <!-- linkedin and protfolio -->
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="linkedin" name="linkedin" placeholder="Linkedin: " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="portfolio" name="portfolio" placeholder="Portfolio: " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Education  -->
        <div class="education-section">
            <label id="resume-label">Education:</label>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="degree" name="degree" value="CSE" placeholder="Degree: " type="text">
                        <small class="error form-text degree-error text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="institution" name="institution" value="DU" placeholder="Institution: " type="text">
                        <small class="error form-text institution-error text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="year" name="year" value="2024" placeholder="Year: " type="text">
                        <small class="error form-text year-error  text-muted"> </small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary mb-4" id="educationBtn">Add More</button>
        </div>
    
            
        <!-- work experience -->
            <div class="work-experience-section">
            <label id="resume-label">Work Experience: </label>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-5">
                        <input class="form-control" id="role" name="role" value="Engineer" placeholder="Role: " type="text">
                        <small class="form-text role-error text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-5">
                        <input class="form-control" id="company" name="company" value="GVD" placeholder="Company: " type="text">
                        <small class="form-text company-error text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-5">
                        <input class="form-control" id="year" name="work_year" value="2022" placeholder="Year: " type="text">
                        <small class="form-text dueYear-error text-muted"></small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary mb-4" id="experienceBtn">Add More</button>
            </div>

            <!-- skills -->
            <div class="skill-section">
            <label id="resume-label">Skills: </label>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="skill" name="skill" placeholder="Write you skills " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary mb-2" id="skillsBtn">Add More Skills</button>
            </div>

            <button class="btn btn-primary btn-block" type="submit" id="resumeBtn">Create</button>
            <small class="form-text form-validation-fail text-muted"></small>
        </form>
    </div>
</div>
{% endblock %}

