{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container text-center py-5">
    <h1 class="fw-bold">
        The <span class="text-gradient">ResumeGenie</span> here, To Generate interactive Resume.
    </h1>
    <p class="lead text-muted">
        Easily create resumes to stand out using Resume Genie, the quick and easy platform for generating resumes. Choose from thousands of customizable templates to get started.
    </p>
    <a href="{{ url_for('form') }}" class="btn btn-primary btn-lg rounded-pill px-5">Create now</a>
</div>
{% endblock %}

