{% extends "layout.html" %}

{% block title %}
   Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" id="name" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <feedback class="name-error error"></feedback>
        {% if errors.get('name') %}
        <div class="error">{{ errors['name'] }}</div>
        {% endif %}

        <div class="mb-3">
            <input autocomplete="off" id="email" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email " type="text">
        </div>
        <feedback class="email-error error"></feedback>
        {% if errors.get('email') %}
        <div class="error">{{ errors['email'] }}</div>
        {% endif %}

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <feedback class="password-error error"></feedback>
        {% if errors.get('password') %}
        <div class="error">{{ errors['password'] }}</div>
        {% endif %}

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <feedback class="confirmation-error error"></feedback>
        {% if errors.get('confirmation') %}
        <div class="error">{{ errors['confirmation'] }}</div>
        {% endif %}

        <button class="btn btn-primary" type="submit" id="submitBtn">Register</button>
    </form>
{% endblock %}
