{% extends "layout.html" %}

{% block title %}
    edit
{% endblock %}

{% block main %}
<!-- I will work with this page later -->
<div class="resume-form">
    <div class="form-container">

        <h2 class="form-heading">Create Resume</h2>
        
        <form action="" method="post" id="resumeForm">
            <div class="personal-info-section">
            <div class="form-group mb-4">
                <input autocomplete="off" id="title" autofocus class="form-control" name="title" placeholder="Title" type="text">
                <small class="form-text title-error text-muted"></small>
                
            </div>
            <label id="resume-label">Personal Info:</label>
            <div class="form-row">
                <!-- Name and Email Inline -->
                <div class="col">
                    <div class="form-group mb-4">
                        <input autocomplete="off" id="name" autofocus class="form-control" name="name" placeholder="Name: " type="text">
                        <small class="form-text name-error text-muted"></small>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input autocomplete="off" id="email" class="form-control" name="email_"  placeholder="Email: " type="text">
                        <small class="form-text email-error text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <!-- phone country  and city Inline -->
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="phone" name="phone" placeholder="Phone: " type="phone">
                        <small class="form-text phone-error text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="address" name="address"  placeholder="Address: " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
            <!-- linkedin and protfolio -->
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="linkedin" name="linkedin" placeholder="Linkedin: " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="portfolio" name="portfolio" placeholder="Portfolio: " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group mb-4">
                    <div class="col">
                        <textarea class="form-control" name="professional-summary" id="professional-summary" rows="3" cols="75" placeholder="Enter your professional summary here..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education  -->
        <div class="education-section">
            <label id="resume-label">Education:</label>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="degree" name="degree"  placeholder="Degree: " type="text">
                        <small class="error form-text degree-error text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="institution" name="institution" placeholder="Institution: " type="text">
                        <small class="error form-text institution-error text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="year" name="year" placeholder="Year: " type="text">
                        <small class="error form-text year-error  text-muted"> </small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary mb-4" id="educationBtn">Add More</button>
        </div>
    
            
        <!-- work experience -->
            <div class="work-experience-section">
            <label id="resume-label">Work Experience: </label>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-5">
                        <input class="form-control" id="role" name="role" placeholder="Role: " type="text">
                        <small class="form-text role-error text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-5">
                        <input class="form-control" id="company" name="company" placeholder="Company: " type="text">
                        <small class="form-text company-error text-muted"></small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-5">
                        <input class="form-control" id="work_year" name="work_year" placeholder="Year: " type="text">
                        <small class="form-text dueYear-error text-muted"></small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary mb-4" id="experienceBtn">Add More</button>
            </div>

            <!-- skills -->
            <div class="skill-section">
            <label id="resume-label">Skills: </label>
            <div class="form-row">
                <div class="col">
                    <div class="form-group mb-4">
                        <input class="form-control" id="skill" name="skill" placeholder="Write you skills " type="text">
                        <small class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary mb-2" id="skillsBtn">Add More Skills</button>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/resume" class="btn btn-secondary">Cancel</a>

        </form>
    </div>
</div>
{% endblock %}

























<!-- Education  -->
<div class="education-section">
    <label id="resume-label">Education:</label>
    <div class="form-row">
        <div class="col">
            <div class="form-group mb-4">
                <input class="form-control" id="degree" name="degree"  placeholder="Degree: " type="text">
                <small class="error form-text degree-error text-muted"></small>
            </div>
        </div>
        <div class="col">
            <div class="form-group mb-4">
                <input class="form-control" id="institution" name="institution" placeholder="Institution: " type="text">
                <small class="error form-text institution-error text-muted"></small>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group mb-4">
                <input class="form-control" id="year" name="year" placeholder="Year: " type="text">
                <small class="error form-text year-error  text-muted"> </small>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-outline-primary mb-4" id="educationBtn">Add More</button>
</div>

    
<!-- work experience -->
    <div class="work-experience-section">
    <label id="resume-label">Work Experience: </label>
    <div class="form-row">
        <div class="col">
            <div class="form-group mb-5">
                <input class="form-control" id="role" name="role" placeholder="Role: " type="text">
                <small class="form-text role-error text-muted"></small>
            </div>
        </div>
        <div class="col">
            <div class="form-group mb-5">
                <input class="form-control" id="company" name="company" placeholder="Company: " type="text">
                <small class="form-text company-error text-muted"></small>
            </div>
        </div>
        <div class="col">
            <div class="form-group mb-5">
                <input class="form-control" id="work_year" name="work_year" placeholder="Year: " type="text">
                <small class="form-text dueYear-error text-muted"></small>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-outline-primary mb-4" id="experienceBtn">Add More</button>
    </div>

    <!-- skills -->
    <div class="skill-section">
    <label id="resume-label">Skills: </label>
    <div class="form-row">
        <div class="col">
            <div class="form-group mb-4">
                <input class="form-control" id="skill" name="skill" placeholder="Write you skills " type="text">
                <small class="form-text text-muted"></small>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-outline-primary mb-2" id="skillsBtn">Add More Skills</button>
    </div>












    <!-- working this page -->
    <form action="/resume/edit/{{ resume.id }}" method="post" id="resumeForm">
        <div class="form-group mb-4">
            <input autocomplete="off" id="title" autofocus class="form-control" value="{{ resume.title }}" name="title" placeholder="Title" type="text" required>
        </div>
        <label id="resume-label">Personal Info:</label>
        <div class="form-row">
            <div class="col">
                <div class="form-group mb-4">
                    <input autocomplete="off" id="name" class="form-control" value="{{ resume.name }}" name="name" placeholder="Name" type="text" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-4">
                    <input autocomplete="off" id="email" class="form-control" value="{{ resume.email }}" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.phone }}" id="phone" name="phone" placeholder="Phone" type="text">
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.address }}" id="address" name="address" placeholder="Address" type="text">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.linkedin }}" id="linkedin" name="linkedin" placeholder="Linkedin">
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.portfolio }}" id="portfolio" name="portfolio" placeholder="Portfolio">
                </div>
            </div>
        </div>
        <div class="form-group mb-4">
            <textarea class="form-control" name="professional-summary" id="professional-summary" rows="4" placeholder="Professional Summary">{{ resume.professional_summary }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/resume" class="btn btn-secondary">Cancel</a>
    </form>
    
































    <form action="/resume/edit/{{ resume.id }}" method="post" id="resumeForm">
        <div class="personal-info-section">
        <div class="form-group mb-4">
            <input autocomplete="off" id="title" autofocus class="form-control" value="{{ resume.title }}" name="title" placeholder="Title" type="text">
            <small class="form-text title-error text-muted"></small>
        </div>
        <label id="resume-label">Personal Info:</label>
        <div class="form-row">
            <!-- Name and Email Inline -->
            <div class="col">
                <div class="form-group mb-4">
                    <input autocomplete="off" id="name" autofocus class="form-control" value="{{ resume.name }}" name="name" placeholder="Name: " type="text">
                    <small class="form-text name-error text-muted"></small>
                    
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-4">
                    <input autocomplete="off" id="email" class="form-control" value="{{ resume.email }}" name="email"  placeholder="Email: " type="text">
                    <small class="form-text email-error text-muted"></small>
                </div>
            </div>
        </div>
        <div class="form-row">
            <!-- phone country  and city Inline -->
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.phone }}" id="phone" name="phone" placeholder="Phone: " type="phone">
                    <small class="form-text phone-error text-muted"></small>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.address }}" id="address" name="address"  placeholder="Address: " type="text">
                    <small class="form-text text-muted"></small>
                </div>
            </div>
        </div>
        <!-- linkedin and protfolio -->
        <div class="form-row">
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.linkedin }}" id="linkedin" name="linkedin" placeholder="Linkedin: " type="text">
                    <small class="form-text text-muted"></small>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-4">
                    <input class="form-control" value="{{ resume.portfolio }}" id="portfolio" name="portfolio" placeholder="Portfolio: " type="text">
                    <small class="form-text text-muted"></small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group mb-4">
                <div class="col">
                    <textarea class="form-control" value="{{ resume.professional_summary }}" name="professional-summary" id="professional-summary" rows="3" cols="75" placeholder="Enter your professional summary here..."></textarea>
                </div>
            </div>
        </div>
    </div>

    
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/resume" class="btn btn-secondary">Cancel</a>

    </form>